<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">

    <script type="text/javascript">
        getData('<%= JSON.stringify(session) %>');
    </script>
    <div class="container"><a class="navbar-brand" href="/">Khaana</a><button data-bs-toggle="collapse"
            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/menu">
                        Menu
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/checkout">Cart</a></li>
                <li class="visually-hidden" id="dropdown">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">My
                        Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="address_link" href="#">
                        </a>
                        <a class="dropdown-item" id="orders_link" href="#">
                        </a>
                        <a class="dropdown-item" href="#">
                        </a>
                    </div>
                </li>
            </ul><span class="navbar-text actions"> <a id="login_link" class="login" href="/login">Log In</a>
                <a class="btn btn-light action-button" id="signup_link" role="button" href="/register">Sign
                    Up</a></span>
        </div>
    </div>
</nav>`