<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
        <script src="js/register.js" type="text/javascript"></script>
</head>

<body style="background: var(--bs-gray);">
    <main>
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>
        <section class="login-clean" style="background: var(--bs-gray);color: var(--bs-white);">
            <form>
                <h2 class="visually-hidden">Login Form</h2>
                <div class="mb-3"><input class="form-control" type="text" name="name" id="name" placeholder="Name">
                </div>
                <div class="mb-3"><input class="form-control" type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="mb-3"><input class="form-control" type="password" name="password" id="password"
                        placeholder="Password">
                </div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label
                        class="form-check-label" for="formCheck-1" style="font-size: 12px;">I agree terms and
                        conditions</label></div>
                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100" type="button" id="signup"
                        style="color: var(--bs-white);background: var(--bs-indigo);">Sign Up</button><button
                        class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-indigo);">Google
                        Account</button>
                </div>
            </form>
        </section>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>